.button {
  padding: 6px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  border-style: none;
  cursor: pointer;
  background-color: white;
  color: black;
  font-size: 1.2rem;
  font-weight: 300;

  transition: all 0.3s ease-out;
  will-change: all;
}

.button:hover {
  background-color: rgb(111, 222, 255);
  transform: scale(1.1);
}

.button:active {
  transform: scale(1);
}
