.container {
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
  background-color: rgba(0, 0, 0, 0.1);

  padding: 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* .h3 {
  animation: move 5s ease-in-out infinite;
  will-change: all;
}

@keyframes move {
  0%,
  100% {
    color: white;
  }
  50% {
    color: rgb(15, 16, 25);
  }
} */
