.homeContentContainer {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  flex: 1;
  height: 100%;

  /* background-color: rgb(66, 66, 66); */
}

@media (max-width: 670px) {
  .homeContentContainer {
    justify-content: center;
    padding: 0;
  }
}